@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----- web player styles: */
body{
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
  color: #fff;
  font-weight: 200;
}

.bg{
  background-image: url("https://htmlcolors.com/gradients-images/53-light-purple-gradient.jpg");
  height: 104vh;
  width: 100vw;
}
img{
  max-width: 100%;
}
.player{
  width: 400px;
  height: 700px;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin: 10px 0 0 0;
  box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.5), -3px -3px 50px rgba(0, 0, 0, 0.5);
}

.container{
  width: 90%;
  margin: 0 auto;
}
.top-icons{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.top-icons a{
  color: #fff;
  font-size: 1.3em;
}
.top-icons a:hover{
  color: #b9b6b6;
  transition: all 0.2s ease-in-out;
}
.img{
  border-radius: 50%;
}
.img img{
  margin: 50px 0 0 55px;
  width: 70%;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}
.img img:hover{
  box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.5), -3px -3px 50px rgba(0, 0, 0, 0.5);
  border-radius: 0%;
}
.img:hover{
  border: none;
}
.text{
  text-align: center;
  margin: 10px 0;
}
.text h1{
  font-size: 1.7em;
  color: black;
}
.text h4{
  font-size: 1em;
  color: black;
}
.space-cont{
  padding: 10px;
}
.btns{
  margin: 40px 0 0 0;
  text-align: center;
}
.btns a{
  color: black;
  font-size: 1.8em;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}
.btns a:hover{
  color: #8d4abe;
}
button{
  color: #fff;
  font-size: 1.3em;
  font-weight: bold;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  background: #8d4abe;
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover{
  background: #b67edf;
}
.button-container {
padding-top: 4px;
}

audio { 
  width: 90%;
  height: 50px;
  box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
  border-radius: 90px;
  transform: scale(1.05);
}

audio::-webkit-media-controls-panel{
background-color:#AFFDE4 !important;
}

.vinyl {
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/83141/vinyl.png'), url('https://image.freepik.com/free-vector/note-music-logo-design_93835-645.jpg');
	background-position: center, center;
	background-size: cover, 40% auto;
	background-repeat: no-repeat;
	border-radius: 100%;
	box-shadow: 0 0 10px rgba(0,0,0,0.8);
	height: 300px;
	position: absolute;
	top: 5px;
	width: 300px;
	z-index: -1;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
p{
  cursor: pointer;
}
p:hover{
  color: #8d4abe;
}


/* ----- spotify search input/buttons styles: */
.spotify-search{
  background-image: url("https://htmlcolors.com/gradients-images/53-light-purple-gradient.jpg");
}
.search-box{
  padding: 10px;
}
.spotify-icon{
  height: 1.4em;
  width: auto;
 
}
.spotify-search-header{
  color: black;
  font-size: 2.8em;
  font-family: "Lucida Grande", Tahoma;
  margin-top: 0.8em;
  padding-left: 100px;
  text-align: center;
}
.search-container{
  text-align: center;
  margin-top: 30px;
}

select{
  background-color: #c4e7eb ;
  color: black;
  font-size: 1.3em;
  border-radius: 12px;
  padding: 6px 12px;
  border: 1px solid black;
  margin: 0 20px 0 0;
  font-family: georgia, serif;
  width: 150px;
}

select:focus, select:hover {
    outline: none;
    box-shadow: inset 0px 0px 0px 3px #69c8d3;
}

select:hover {
    cursor: pointer;
}

input {
  line-height: 30px;
  background: #fafafa;
  -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 0 20px;
  font-size: 1em;
  color: #666;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  transition: all 0.4s ease;
  width: 300px;
}

.search-more-button{
  width: 150px;
  margin-left: 20px;
}



/* ----- main/results styles: */
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 30px;
}
#search-term {
    align-self: center;
    color: black;
}

#results-container {
    display: flex;
    margin: 30px 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.result-box {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 30px; */
    margin: 30px;
    align-items: center;
    width: 25%;
    min-width: 400px;
}

.result-box a {
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
}

.result-box .annoying {
    margin-top: 10px;
    text-align: center;
}

#more {
    visibility: hidden;
    width: 300px;
    align-self: center;
}

#more.show {
    visibility: visible;
}