<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
  <link rel="stylesheet" href={{ url_for( 'static', filename='style.css' ) }} />
  <title>Music Discovery App</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <audio src=" {{ data_display[2] }} " id="song"></audio>
  <div class="bg">
    <section class="player">
      <div class="container">

        <!-- ================ Top Icons ================ -->

        <div class="top-icons">
          <a href="#"><i class="far fa-heart"></i></a>
          <a href="#"><i class="fa fa-plus"></i></a>
        </div>

        <!-- ================ img ================ -->

        <div class="img">
          <div class="vinyl"></div><!--  /.vinyl -->
          <img src="{{data_display[3]}}"/>
        </div>
        
      
        <!-- ================ Text ================ -->

        <div class="text">
          <b><h1>{{data_display[1]}}</h1></b>
          <h4>{{data_display[0]}}</h4>
        </div>

        <!-- ================ Play Buttons ================ -->

        <div class="btns">
          <a href="javascript:history.go(0)"><i class="fa fa-random"></i></a>
          <a href="javascript:history.go(0)"><i class="fa fa-forward" ></i></a>
          <div class="space-cont"> </div>
          <audio controls><source src=" {{data_display[2]}} " type="audio/mp3"></audio>
          {% if data_display[2] is not string %}
           <p>PREVIEW UNAVAILABLE</p>
          {% else %}
            <p onclick=" window.open(' {{data_display[2]}} ')">PREVIEW AVAILABLE</p>
          {% endif %}
        </div>
      
        <!-- ================ Lyrics ================ -->
        {% if song_lyrics_url == None %}
        <button style="margin-top: 30px;" type="button" disabled>LYRICS UNAVAILABLE</button>
        {% else %}
        <a href="{{song_lyrics_url}}" target="_blank"><button style="margin-top: 30px;">VIEW LYRICS</button></a>
        {% endif %}
      </div>
  </div>
          <div class="spotify-search">
            <div class="search-box" id="search-box">
              <h1 class="spotify-search-header">
                <img class="spotify-icon" src="https://image.flaticon.com/icons/png/512/2111/2111624.png" alt="spotify icon">
              Spotify Search</h1>
              
              <div class="search-container">
                <select id="search-options">
                    <option id="artist">artist</option>
                    <option id="album">album</option>
                </select>
                <input type="text" name="user-input" value="">
                <button class="search-more-button" id="submit-button">Submit</button>
                <div style="text-align: center; margin-top:20px;">
                <img src="https://i.gifer.com/ZZ5H.gif" id="loading-gif" 
                style="display:none; height: 30px; width:auto;"/ >
                </div>
              </div>
            </div>

        <main>
            <div id="search-term"></div>
            <div id="results-container"></div>
            <button class="search-more-button" id="more">See More</button>
        </main>
      </div>
    </section>
  </div>
  
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="/static/script.js"></script>

</body>
</html>