<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css" integrity="sha256-46r060N2LrChLLb5zowXQ72/iKKNiw/lAmygmHExk/o=" crossorigin="anonymous" />
  <link rel="stylesheet" href={{ url_for( 'static', filename='style.css' ) }} />
  <title>Music Discovery App</title>
</head>
<body>
  <audio src=" {{ data_display[2] }} " id="song"></audio>
  <div class="bg">
    <section class="player">
      <div class="container">

        <!-- ================ Top Icons ================ -->

        <div class="top-icons">
          <a href="#"><i class="far fa-heart"></i></a>
          <a href="#"><i class="fa fa-plus"></i></a>
        </div>

        <!-- ================ img ================ -->

        <div class="img">
          <div class="vinyl"></div><!--  /.vinyl -->
          <img src="{{data_display[3]}}"/>
        </div>
        
      
        <!-- ================ Text ================ -->

        <div class="text">
          <h1>{{data_display[1]}}</h1>
          <h4>{{data_display[0]}}</h4>
        </div>

        <!-- ================ Play Buttons ================ -->

        <div class="btns">
          <!-- <a href="#"><i class="fa fa-retweet"></i></a> -->
          <!-- <a href="#"><i class="fa fa-backward" ></i></a> -->
          <!-- <a href="#"><i class="fa fa-play" ></i></a> -->
          <a href="javascript:history.go(0)"><i class="fa fa-random"></i></a>
          <a href="javascript:history.go(0)"><i class="fa fa-forward" ></i></a>
          <div class="space-cont"> </div>
          <audio controls><source src=" {{data_display[2]}} " type="audio/mp3"></audio>
          {% if data_display[2] is not string %}
           <p>PREVIEW UNAVAILABLE</p>
          {% else %}
            <p onclick=" window.open(' {{data_display[2]}} ')">PREVIEW AVAILABLE</p>
          {% endif %}
        </div>
      </div>

        <!-- ================ Lyrics ================ -->
        {% if song_lyrics_url == None %}
        <button type="button" disabled>LYRICS UNAVAILABLE</button>
        {% else %}
        <a href="{{song_lyrics_url}}" target="_parent"><button>VIEW LYRICS</button></a>
        {% endif %}
        
    </section>
  </div>
</body>
</html>